### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [121]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [122]:
Total_players = len(purchase_data["SN"].unique())

Total_players_df = pd.DataFrame({"Total Players": [Total_players]})

Total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [123]:
#purchase_data.head()
Num_items = len(purchase_data["Item ID"].unique())
Avg_Price = purchase_data["Price"].mean()
Num_Pur = purchase_data["Purchase ID"].count()
Total_Pur = purchase_data["Price"].sum()


Summary_Table = pd.DataFrame({"Number of Unique Items": [Num_items],
                             "Average Price": [Avg_Price],
                             "Number of Purchases": [Num_Pur],
                             "Total Revenue": [Total_Pur]})

Summary_Table["Average Price"] = Summary_Table["Average Price"].map("${:.2f}".format)
Summary_Table["Total Revenue"] = Summary_Table["Total Revenue"].map("${:.2f}".format)

Summary_Table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [124]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [125]:
purchase_data.head(30)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16

In [126]:
Group_purchase_data = purchase_data.drop_duplicates(subset = "SN", keep = "first")

Group_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [127]:

Num_males = Group_purchase_data["Gender"].value_counts()["Male"]
Num_females = Group_purchase_data["Gender"].value_counts()["Female"]
Tot_gender =Group_purchase_data["SN"].count()
Num_other = Tot_gender - (Num_males + Num_females)

Per_males = (Num_males/Tot_gender)*100
Per_females = (Num_females/Tot_gender)*100
Per_other = (Num_other/Tot_gender)*100



Summary_gender_df = pd.DataFrame({"": ("Male", "Female", "Other/Non-disclosed"), 
                                  "Numbers": (Num_males, Num_females, Num_other),
                                 "Percentages" :[Per_males, Per_females, Per_other]
                                })

Summary_gender_df["Percentages"] = Summary_gender_df["Percentages"].map("{:.2f}%".format)



Summary_gender_df.set_index("")

                     Numbers Percentages

Male                     484      84.03%
Female                    81      14.06%
Other/Non-disclosed       11       1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
gender_group = purchase_data.groupby(["Gender"])

Purchase_num = gender_group["Purchase ID"].count()
Purchase_price = gender_group["Price"].sum()
Purchase_avg = gender_group["Price"].mean()

to_get_counts = purchase_data.drop_duplicates(subset = "SN", keep = "first")
grouped_again = to_get_counts.groupby(["Gender"])

Avg_per_person = gender_group["Price"].sum()/grouped_again["Gender"].count()



gender_group_summary = pd.DataFrame({"Number of Purchases": Purchase_num,
                                     "Total Purchase Amount" : Purchase_price,
                                     "Average Purchase Amount" : Purchase_avg,
                                     "Average Per Person" : Avg_per_person
                                    })


gender_group_summary["Total Purchase Amount"] = gender_group_summary["Total Purchase Amount"].map("${:.2f}".format)
gender_group_summary["Average Purchase Amount"] = gender_group_summary["Average Purchase Amount"].map("${:.2f}".format)
gender_group_summary["Average Per Person"] = gender_group_summary["Average Per Person"].map("${:.2f}".format)
gender_group_summary

,Number of Purchases,Total Purchase Amount,Average Purchase Amount,Average Per Person
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,$1967.64,$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [129]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

Group_purchase_data["Age Range"]= pd.cut(Group_purchase_data["Age"], bins, labels = group_names)

group_binned= Group_purchase_data.groupby(["Age Range"])



count = group_binned["SN"].count()
Percent_by_age = count/Total_players

Summary_age_range = pd.DataFrame({ "" : group_names, 
                                  "Total Counts": count,
                                  "Percentages" : Percent_by_age
    
                    })
Summary_age_range["Percentages"] = Summary_age_range["Percentages"].map("{:.2f}%".format)


Summary_age_range.set_index("")

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

       Total Counts Percentages

<10              24       0.04%
10-14            15       0.03%
15-19           107       0.19%
20-24           258       0.45%
25-29            77       0.13%
30-34            52       0.09%
35-39            31       0.05%
40+              12       0.02%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [130]:
purchase_data["Age Range"]= pd.cut(purchase_data["Age"], bins, labels = group_names)

grp_purchase_data = purchase_data.groupby(["Age Range"])

pur_count = grp_purchase_data["Purchase ID"].count()

avg_pur = grp_purchase_data["Price"].mean()
tot_pur = grp_purchase_data["Price"].sum()
avg_per_per = tot_pur/count

Summary_age_amounts = pd.DataFrame({"": group_names, 
                                   "Purchase Count": pur_count,
                                   "Average Purchase": avg_pur,
                                    "Total Purchase Amount": tot_pur,
                                   "Average Purchase per person": avg_per_per})

Summary_age_amounts["Average Purchase"]= Summary_age_amounts["Average Purchase"].map("${:.2f}".format)
Summary_age_amounts["Total Purchase Amount"]= Summary_age_amounts["Total Purchase Amount"].map("${:.2f}".format)
Summary_age_amounts["Average Purchase per person"]= Summary_age_amounts["Average Purchase per person"].map("${:.2f}".format)


Summary_age_amounts.set_index("")

,Purchase Count,Average Purchase,Total Purchase Amount,Average Purchase per person
,,,,
<10,32,$3.40,$108.96,$4.54
10-14,19,$2.68,$50.95,$3.40
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [131]:
group_pur_data = purchase_data.groupby(["SN"])

byID_count = group_pur_data["Purchase ID"].count()
byID_total = group_pur_data["Price"].sum()
byID_avg = byID_total/byID_count

Summary_by_Id = pd.DataFrame({
                             "Purchase Counts": byID_count,
                             "Purchase Totals": byID_total,
                             "Average Purchase" : byID_avg})

Summary_by_Id["Purchase Totals"] = Summary_by_Id["Purchase Totals"].map("${:.2f}".format)
Summary_by_Id["Average Purchase"] = Summary_by_Id["Average Purchase"].map("${:.2f}".format)

Summary_by_Id = Summary_by_Id.sort_values("Purchase Counts", ascending = False)

Summary_by_Id.head()

             Purchase Counts Purchase Totals Average Purchase
SN
Lisosia93                  5          $18.96            $3.79
Iral74                     4          $13.62            $3.40
Idastidru52                4          $15.45            $3.86
Asur53                     3           $7.44            $2.48
Inguron55                  3          $11.11            $3.70

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [132]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [115]:


most_popular = purchase_data[["Item ID", "Item Name", "Price"]]
grp_most_popular = most_popular.groupby(["Item ID", "Item Name"])

item_count = grp_most_popular["Item ID"].count()
item_total = grp_most_popular["Price"].sum()
item_price = item_total/item_count

summary_by_item = pd.DataFrame({
                               "Number Purchased": item_count,
                               "Price": item_price,
                            "Total Purchase Value": item_total})

summary_by_item = summary_by_item.sort_values("Number Purchased", ascending = False)

summaryby_item = summary_by_item

summary_by_item["Price"] = summary_by_item["Price"].map("${:.2f}".format)
summary_by_item["Total Purchase Value"] = summary_by_item["Total Purchase Value"].map("${:.2f}".format)

summary_by_item

,,Number Purchased,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
103,Singed Scalpel,8,$4.35,$34.80
75,Brutality Ivory Warmace,8,$2.42,$19.36
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
59,"Lightning, Etcher of the King",8,$4.23,$33.84
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
34,Retribution Axe,8,$2.22,$17.76
92,Final Critic,8,$4.88,$39.04
53,Vengeance Cleaver,7,$2.05,$14.35
110,Suspension,7,$1.44,$10.08
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
71,Demise,7,$1.61,$11.27
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
85,Malificent Bag,7,$1.75,$12.25
164,Exiled Doomblade,7,$1.63,$11.41
141,Persuasion,7,$3.19,$22.33
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
102,Avenger,6,$3.44,$20.64
129,"Fate, Vengeance of Eternal Justice",6,$1.54,$9.24
93,Apocalyptic Battlescythe,6,$1.97,$11.82
54,Eternal Cleaver,6,$2.50,$15.00
3,Phantomlight,6,$2.49,$14.94
2,Verdict,6,$2.48,$14.88
40,Second Chance,6,$2.52,$15.12
...,...,...,...,...
81,Dreamkiss,2,$3.61,$7.22
6,Rusty Skull,2,$3.70,$7.40
18,"Torchlight, Bond of Storms",2,$4.65,$9.30
26,Unholy Wand,2,$1.12,$2.24
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
30,Stormcaller,2,$2.21,$4.42
158,"Darkheart, Butcher of the Champion",2,$2.45,$4.90
69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
132,Persuasion,2,$3.33,$6.66
63,Stormfury Mace,2,$4.99,$9.98
56,Foul Titanium Battle Axe,2,$2.92,$5.84
127,"Heartseeker, Reaver of Souls",2,$3.92,$7.84
48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
125,Whistling Mithril Warblade,2,$1.00,$2.00
43,Foul Edge,2,$3.54,$7.08
115,Spectral Diamond Doomblade,2,$2.04,$4.08
33,Curved Axe,2,$1.16,$2.32
31,Trickster,2,$1.55,$3.10
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
42,The Decapitator,1,$1.75,$1.75
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
126,Exiled Mithril Longsword,1,$2.00,$2.00
51,Endbringer,1,$4.66,$4.66
90,Betrayer,1,$2.94,$2.94
104,Gladiator's Glaive,1,$1.93,$1.93
23,Crucifer,1,$1.99,$1.99
180,Stormcaller,1,$3.36,$3.36
91,Celeste,1,$4.17,$4.17
134,Undead Crusader,1,$4.50,$4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [133]:
summaryby_item.sort_values("Total Purchase Value", ascending = False)

summaryby_item.head()

,,Number Purchased,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16